#!/bin/bash
# ./compress-web.sh /mnt/magus-d/My\ Documents/Work/webclient-redesign .

# path to jsmin
JSMIN_DIR=/usr/local/var/www/speeqewebclient/deployment
JSMIN=${JSMIN_DIR}/jsmin

if [ ! -f "${JSMIN}" ]; then
    if [ -f "${JSMIN_DIR}/jsmin.c" ]; then
        gcc -o "${JSMIN}" "${JSMIN_DIR}/jsmin.c"
    else
        echo -e "JSMin not found\n"
        exit 1;
    fi
fi

if [ -n "$1" ]; then
    SRCDIR="$1"
else
	echo -e "Usage: compress-web.sh <srcdir> <outdir>\n"
    exit 1;
fi

if [ -n "$2" ]; then
    OUTDIR=$2
else
	echo -e "Usage: compress-web.sh <srcdir> <outdir>\n"
    exit 1;
fi

mkdir /tmp/web-deployment
mkdir /tmp/web-deployment/scripts
mkdir /tmp/web-deployment/scripts/languages

cp "${SRCDIR}/scripts/*" "/tmp/web-deployment/scripts/"
cat /tmp/web-deployment/scrpts/* >> /tmp/web-deployment/combined.js

cp /tmp/web-deployment/combined.js "${OUTDIR}/scripts/combined.js"

rm -rf /tmp/web-deployment
